<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 col-xs-10">
<h1>Editing Instag</h1>

<%= render 'form' %>

<%= link_to 'Show', @instag, class: 'btn btn-primary btn-block' %> |
<%= link_to 'Back', instags_path, class: 'btn btn-primary btn-block' %>
</div>
</div>